<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ygaps.travelapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".manager.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.SearchTourActivity"></activity>
        <activity android:name=".view.ReviewStopPointActivity" />
        <activity android:name=".view.TrackTourActivity"
            android:label="Track Tour"></activity>
        <activity
            android:name=".view.SearchUserActivity"
            android:label="Search User" />
        <activity
            android:name=".view.CommentActivity"
            android:label="Comment" />
        <activity
            android:name=".view.MemberActivity"
            android:label="Member" />
        <activity
            android:name=".view.ReviewTourActivity"
            android:label="Review Tour" />
        <activity
            android:name=".view.NotificationTab"
            android:label="Notifications" />
        <activity
            android:name=".view.SearchExploreActivity"
            android:label="Search Stop Point" />
        <activity
            android:name=".view.DetailStopPointActivity"
            android:label="@string/title_activity_detail_stop_point"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ExploreActivity"
            android:label="Explore" />
        <activity
            android:name=".view.HistoryActivity"
            android:label="History" />
        <activity
            android:name=".view.TourDetail"
            android:label="Tour Detail"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.ForgotPassActivity"
            android:label="Forgot Password" />
        <activity
            android:name=".view.UpdatePassActivity"
            android:label="Update Password" />
        <activity
            android:name=".view.EditProfileActivity"
            android:label="Edit Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SettingActivity"
            android:label="Setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.CreateTour"
            android:label="Create Tour"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.AddStopPoint"
            android:label="Add Stop Point"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.RegisterActivity"
            android:label="Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ListTours"
            android:label="List Tours" />
        <activity android:name=".view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".network.MyFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".network.LocationService"
            android:exported="false">
        </service>
    </application>

</manifest>